In [2]:
import pyarrow.parquet as pq
import pyarrow as pa

In [28]:
df=pq.read_table(r"Y:\PROJECT\Renu\ILC_2024\Testing_EUWS\Results\ILC\BE\ILC2024_EUWS_PLA_WI_EP_BE_EUR_Losses\EP\Admin1\GU\ILC2024_EUWS_PLA_WI_EP_BE_EUR_EP_Admin1_GU_1.parquet").to_pandas()

In [29]:
df1=pq.read_table(r"D:\RISHIN\TESTING\TEST_3\ILC2024_EUWS_PLA_WI_EP_BE_EUR_Losses\EP\Admin1\GU\ILC2024_EUWS_PLA_WI_EP_BE_EUR_EP_Admin1_GU_0.parquet").to_pandas()

In [30]:
df

     EPType          Loss  ReturnPeriod Admin1Id Admin1Name
0       OEP  9.307160e+08       10000.0  7153303      Namur
1       OEP  6.703479e+08        5000.0  7153303      Namur
2       OEP  3.440129e+08        1000.0  7153303      Namur
3       OEP  2.472984e+08         500.0  7153303      Namur
4       OEP  1.673116e+08         250.0  7153303      Namur
5       OEP  1.448408e+08         200.0  7153303      Namur
6       OEP  9.300197e+07         100.0  7153303      Namur
7       OEP  5.553263e+07          50.0  7153303      Namur
8       OEP  3.250564e+07          25.0  7153303      Namur
9       OEP  1.461289e+07          10.0  7153303      Namur
10      OEP  7.134721e+06           5.0  7153303      Namur
11      OEP  1.199839e+06           2.0  7153303      Namur
12      AEP  9.616685e+08       10000.0  7153303      Namur
13      AEP  7.165673e+08        5000.0  7153303      Namur
14      AEP  3.604247e+08        1000.0  7153303      Namur
15      AEP  2.683260e+08         500.0  7153303      Namur
16      AEP  1.873203e+08         250.0  7153303      Namur
17      AEP  1.661056e+08         200.0  7153303      Namur
18      AEP  1.097202e+08         100.0  7153303      Namur
19      AEP  6.849299e+07          50.0  7153303      Namur
20      AEP  4.215986e+07          25.0  7153303      Namur
21      AEP  1.979876e+07          10.0  7153303      Namur
22      AEP  9.652003e+06           5.0  7153303      Namur
23      AEP  1.695260e+06           2.0  7153303      Namur
24  TCE-OEP  1.332414e+09       10000.0  7153303      Namur
25  TCE-OEP  1.060080e+09        5000.0  7153303      Namur
26  TCE-OEP  5.752771e+08        1000.0  7153303      Namur
27  TCE-OEP  4.329978e+08         500.0  7153303      Namur
28  TCE-OEP  3.169911e+08         250.0  7153303      Namur
29  TCE-OEP  2.848308e+08         200.0  7153303      Namur
30  TCE-OEP  2.000053e+08         100.0  7153303      Namur
31  TCE-OEP  1.351149e+08          50.0  7153303      Namur
32  TCE-OEP  8.850745e+07          25.0  7153303      Namur
33  TCE-OEP  4.813643e+07          10.0  7153303      Namur
34  TCE-OEP  2.916614e+07           5.0  7153303      Namur
35  TCE-OEP  1.366490e+07           2.0  7153303      Namur
36  TCE-AEP  1.347734e+09       10000.0  7153303      Namur
37  TCE-AEP  1.086676e+09        5000.0  7153303      Namur
38  TCE-AEP  6.000142e+08        1000.0  7153303      Namur
39  TCE-AEP  4.552060e+08         500.0  7153303      Namur
40  TCE-AEP  3.381719e+08         250.0  7153303      Namur
41  TCE-AEP  3.058414e+08         200.0  7153303      Namur
42  TCE-AEP  2.196693e+08         100.0  7153303      Namur
43  TCE-AEP  1.524126e+08          50.0  7153303      Namur
44  TCE-AEP  1.027889e+08          25.0  7153303      Namur
45  TCE-AEP  5.803247e+07          10.0  7153303      Namur
46  TCE-AEP  3.592141e+07           5.0  7153303      Namur
47  TCE-AEP  1.710053e+07           2.0  7153303      Namur

In [25]:
df1

     EPType          Loss  ReturnPeriod  Admin1Id       Admin1Name
0       OEP  5.050361e+09       10000.0  22525998   Vlaams Brabant
1       OEP  4.323325e+09        5000.0   7153305  West-Vlaanderen
2       OEP  2.521630e+09        1000.0   7153299          Hainaut
3       OEP  1.940169e+09         500.0   7153304  Oost-Vlaanderen
4       OEP  1.461964e+09         250.0   7153305  West-Vlaanderen
5       OEP  1.314418e+09         200.0   7153305  West-Vlaanderen
6       OEP  9.527386e+08         100.0   7153304  Oost-Vlaanderen
7       OEP  6.714651e+08          50.0  60466782         Brussels
8       OEP  4.501681e+08          25.0   7153301          Limburg
9       OEP  2.479618e+08          10.0   7153299          Hainaut
10      OEP  1.525910e+08           5.0   7153299          Hainaut
11      OEP  7.612464e+07           2.0   7153300            Liege
12      AEP  5.053941e+09       10000.0  22525998   Vlaams Brabant
13      AEP  4.361478e+09        5000.0   7153308        Antwerpen
14      AEP  2.572979e+09        1000.0   7153308        Antwerpen
15      AEP  2.018014e+09         500.0   7153301          Limburg
16      AEP  1.539014e+09         250.0   7153308        Antwerpen
17      AEP  1.383388e+09         200.0  22525998   Vlaams Brabant
18      AEP  1.021705e+09         100.0  22525998   Vlaams Brabant
19      AEP  7.354547e+08          50.0   7153308        Antwerpen
20      AEP  5.120891e+08          25.0  22525997   Brabant Wallon
21      AEP  2.999619e+08          10.0   7153300            Liege
22      AEP  1.947964e+08           5.0  60466782         Brussels
23      AEP  1.023293e+08           2.0   7153299          Hainaut
24  TCE-OEP  5.876064e+09       10000.0  22525998   Vlaams Brabant
25  TCE-OEP  5.241789e+09        5000.0   7153305  West-Vlaanderen
26  TCE-OEP  3.589162e+09        1000.0   7153299          Hainaut
27  TCE-OEP  2.891335e+09         500.0   7153304  Oost-Vlaanderen
28  TCE-OEP  2.283597e+09         250.0   7153305  West-Vlaanderen
29  TCE-OEP  2.103493e+09         200.0   7153305  West-Vlaanderen
30  TCE-OEP  1.603304e+09         100.0   7153304  Oost-Vlaanderen
31  TCE-OEP  1.196554e+09          50.0  60466782         Brussels
32  TCE-OEP  8.695899e+08          25.0   7153301          Limburg
33  TCE-OEP  5.430563e+08          10.0   7153299          Hainaut
34  TCE-OEP  3.673085e+08           5.0   7153299          Hainaut
35  TCE-OEP  2.099929e+08           2.0   7153300            Liege
36  TCE-AEP  5.916338e+09       10000.0  22525998   Vlaams Brabant
37  TCE-AEP  5.286734e+09        5000.0   7153308        Antwerpen
38  TCE-AEP  3.654061e+09        1000.0   7153308        Antwerpen
39  TCE-AEP  2.958025e+09         500.0   7153301          Limburg
40  TCE-AEP  2.355870e+09         250.0   7153308        Antwerpen
41  TCE-AEP  2.176888e+09         200.0  22525998   Vlaams Brabant
42  TCE-AEP  1.674584e+09         100.0  22525998   Vlaams Brabant
43  TCE-AEP  1.265729e+09          50.0   7153308        Antwerpen
44  TCE-AEP  9.355616e+08          25.0  22525997   Brabant Wallon
45  TCE-AEP  6.035890e+08          10.0   7153300            Liege
46  TCE-AEP  4.210618e+08           5.0  60466782         Brussels
47  TCE-AEP  2.512068e+08           2.0   7153299          Hainaut

In [9]:
import pyarrow.parquet as pq

# Read the Parquet file
parquet_file = pq.ParquetFile(r"Y:\PROJECT\Renu\ILC_2024\Testing_EUWS\Results\ILC\BE\ILC2024_EUWS_PLA_WI_EP_BE_EUR_Losses\EP\Admin1_Lob\GU\ILC2024_EUWS_PLA_WI_EP_BE_EUR_EP_Admin1_Lob_GU_2.parquet")

# Print the schema
print(parquet_file.schema)

<pyarrow._parquet.ParquetSchema object at 0x0000026FAB2376C0>
required group field_id=-1 schema {
  optional binary field_id=-1 EPType (String);
  optional double field_id=-1 Loss;
  optional double field_id=-1 ReturnPeriod;
  optional fixed_len_byte_array(16) field_id=-1 Admin1Id (Decimal(precision=38, scale=0));
  optional binary field_id=-1 Admin1Name (String);
  optional binary field_id=-1 LOBName (String);
  optional fixed_len_byte_array(16) field_id=-1 LOBId (Decimal(precision=38, scale=0));
}

In [10]:
df5=pq.read_table(r"D:\RISHIN\TESTING\TEST_3\ILC2024_EUWS_PLA_WI_EP_BE_EUR_Losses\Admin1\Lob\GU\ILC2024_EUWS_PLA_WI_EP_BE_EUR_Admin1_Lob_GU_0.parquet").to_pandas()

In [11]:
df5

,EPType,Loss,ReturnPeriod,Admin1Id,Admin1Name,LOBId,LOBName
0,OEP,3.781390e+08,10000.0,7153308,Antwerpen,1,AGR
1,OEP,3.014930e+08,5000.0,7153308,Antwerpen,1,AGR
2,OEP,1.765436e+08,1000.0,7153304,Oost-Vlaanderen,1,AGR
3,OEP,1.353496e+08,500.0,22525998,Vlaams Brabant,1,AGR
4,OEP,1.001809e+08,250.0,7153305,West-Vlaanderen,1,AGR
5,OEP,8.990910e+07,200.0,7153308,Antwerpen,1,AGR
6,OEP,6.432835e+07,100.0,22525998,Vlaams Brabant,1,AGR
7,OEP,4.491627e+07,50.0,7153305,West-Vlaanderen,1,AGR
8,OEP,2.988710e+07,25.0,7153305,West-Vlaanderen,1,AGR
9,OEP,1.643596e+07,10.0,7153305,West-Vlaanderen,1,AGR
10,OEP,1.010452e+07,5.0,7153300,Liege,1,AGR
11,OEP,5.069590e+06,2.0,7153304,Oost-Vlaanderen,1,AGR
12,AEP,3.808708e+08,10000.0,7153308,Antwerpen,1,AGR
13,AEP,3.083470e+08,5000.0,7153305,West-Vlaanderen,1,AGR
14,AEP,1.830846e+08,1000.0,7153305,West-Vlaanderen,1,AGR
15,AEP,1.412783e+08,500.0,7153305,West-Vlaanderen,1,AGR
16,AEP,1.066923e+08,250.0,7153300,Liege,1,AGR
17,AEP,9.761685e+07,200.0,7153299,Hainaut,1,AGR
18,AEP,7.065900e+07,100.0,7153304,Oost-Vlaanderen,1,AGR
19,AEP,5.028493e+07,50.0,7153301,Limburg,1,AGR
20,AEP,3.483828e+07,25.0,7153305,West-Vlaanderen,1,AGR
21,AEP,2.056861e+07,10.0,7153308,Antwerpen,1,AGR
22,AEP,1.325998e+07,5.0,7153308,Antwerpen,1,AGR
23,AEP,6.924360e+06,2.0,7153308,Antwerpen,1,AGR
24,TCE-OEP,4.661899e+08,10000.0,7153308,Antwerpen,1,AGR
25,TCE-OEP,4.005360e+08,5000.0,7153308,Antwerpen,1,AGR
26,TCE-OEP,2.566329e+08,1000.0,7153304,Oost-Vlaanderen,1,AGR
27,TCE-OEP,2.050505e+08,500.0,22525998,Vlaams Brabant,1,AGR
28,TCE-OEP,1.603323e+08,250.0,7153305,West-Vlaanderen,1,AGR
29,TCE-OEP,1.473124e+08,200.0,7153308,Antwerpen,1,AGR
30,TCE-OEP,1.111048e+08,100.0,22525998,Vlaams Brabant,1,AGR
31,TCE-OEP,8.210863e+07,50.0,7153305,West-Vlaanderen,1,AGR
32,TCE-OEP,5.911441e+07,25.0,7153305,West-Vlaanderen,1,AGR
33,TCE-OEP,3.664057e+07,10.0,7153305,West-Vlaanderen,1,AGR
34,TCE-OEP,2.465845e+07,5.0,7153300,Liege,1,AGR
35,TCE-OEP,1.404332e+07,2.0,7153304,Oost-Vlaanderen,1,AGR
36,TCE-AEP,4.715861e+08,10000.0,7153308,Antwerpen,1,AGR
37,TCE-AEP,4.058686e+08,5000.0,7153305,West-Vlaanderen,1,AGR
38,TCE-AEP,2.628028e+08,1000.0,7153305,West-Vlaanderen,1,AGR
39,TCE-AEP,2.110893e+08,500.0,7153305,West-Vlaanderen,1,AGR
40,TCE-AEP,1.663285e+08,250.0,7153300,Liege,1,AGR
41,TCE-AEP,1.534559e+08,200.0,7153299,Hainaut,1,AGR
42,TCE-AEP,1.176894e+08,100.0,7153304,Oost-Vlaanderen,1,AGR
43,TCE-AEP,8.835942e+07,50.0,7153301,Limburg,1,AGR
44,TCE-AEP,6.480208e+07,25.0,7153305,West-Vlaanderen,1,AGR
45,TCE-AEP,4.159579e+07,10.0,7153308,Antwerpen,1,AGR
46,TCE-AEP,2.893073e+07,5.0,7153308,Antwerpen,1,AGR
47,TCE-AEP,1.719427e+07,2.0,7153308,Antwerpen,1,AGR

In [ ]:
D:\RISHIN\TESTING\TEST_3\ILC2024_EUWS_PLA_WI_EP_BE_EUR_Losses\Admin1\Lob\GU\ILC2024_EUWS_PLA_WI_EP_BE_EUR_Admin1_Lob_GU_0.parquet

In [8]:
df

     EPType          Loss  ReturnPeriod Admin1Id Admin1Name LOBName LOBId
0       OEP  8.195421e+08       10000.0  7153308  Antwerpen     COM     3
1       OEP  6.635912e+08        5000.0  7153308  Antwerpen     COM     3
2       OEP  3.218423e+08        1000.0  7153308  Antwerpen     COM     3
3       OEP  2.253880e+08         500.0  7153308  Antwerpen     COM     3
4       OEP  1.493918e+08         250.0  7153308  Antwerpen     COM     3
..      ...           ...           ...      ...        ...     ...   ...
91  TCE-AEP  6.261781e+07          50.0  7153299    Hainaut     COM     3
92  TCE-AEP  4.199652e+07          25.0  7153299    Hainaut     COM     3
93  TCE-AEP  2.354145e+07          10.0  7153299    Hainaut     COM     3
94  TCE-AEP  1.455733e+07           5.0  7153299    Hainaut     COM     3
95  TCE-AEP  6.999897e+06           2.0  7153299    Hainaut     COM     3

[96 rows x 7 columns]

In [34]:
df2=pq.read_table(r"Y:\PROJECT\Renu\ILC_2024\Testing_EUWS\Results\ILC\BE\ILC2024_EUWS_PLA_WI_EP_BE_EUR_Losses\EP\Cresta\GU\ILC2024_EUWS_PLA_WI_EP_BE_EUR_EP_Cresta_GU_0.parquet").to_pandas()

In [35]:
df2

     EPType          Loss  ReturnPeriod  CrestaId CrestaName
0       OEP  4.225831e+09       10000.0  60344322          2
1       OEP  3.251737e+09        5000.0  60344322          2
2       OEP  1.590555e+09        1000.0  60344322          2
3       OEP  1.103661e+09         500.0  60344322          2
4       OEP  7.554687e+08         250.0  60344322          2
5       OEP  6.613163e+08         200.0  60344322          2
6       OEP  4.173300e+08         100.0  60344322          2
7       OEP  2.616956e+08          50.0  60344322          2
8       OEP  1.595156e+08          25.0  60344322          2
9       OEP  7.786876e+07          10.0  60344322          2
10      OEP  3.727379e+07           5.0  60344322          2
11      OEP  7.433648e+06           2.0  60344322          2
12      AEP  4.361478e+09       10000.0  60344322          2
13      AEP  3.399863e+09        5000.0  60344322          2
14      AEP  1.697888e+09        1000.0  60344322          2
15      AEP  1.192798e+09         500.0  60344322          2
16      AEP  8.424496e+08         250.0  60344322          2
17      AEP  7.434852e+08         200.0  60344322          2
18      AEP  5.027499e+08         100.0  60344322          2
19      AEP  3.276279e+08          50.0  60344322          2
20      AEP  2.105657e+08          25.0  60344322          2
21      AEP  1.056516e+08          10.0  60344322          2
22      AEP  5.223028e+07           5.0  60344322          2
23      AEP  1.061545e+07           2.0  60344322          2
24  TCE-OEP  5.503512e+09       10000.0  60344322          2
25  TCE-OEP  4.602487e+09        5000.0  60344322          2
26  TCE-OEP  2.594110e+09        1000.0  60344322          2
27  TCE-OEP  1.947863e+09         500.0  60344322          2
28  TCE-OEP  1.428219e+09         250.0  60344322          2
29  TCE-OEP  1.284268e+09         200.0  60344322          2
30  TCE-OEP  9.023281e+08         100.0  60344322          2
31  TCE-OEP  6.131698e+08          50.0  60344322          2
32  TCE-OEP  4.071490e+08          25.0  60344322          2
33  TCE-OEP  2.281341e+08          10.0  60344322          2
34  TCE-OEP  1.410738e+08           5.0  60344322          2
35  TCE-OEP  6.728088e+07           2.0  60344322          2
36  TCE-AEP  5.541272e+09       10000.0  60344322          2
37  TCE-AEP  4.667218e+09        5000.0  60344322          2
38  TCE-AEP  2.678757e+09        1000.0  60344322          2
39  TCE-AEP  2.041109e+09         500.0  60344322          2
40  TCE-AEP  1.518196e+09         250.0  60344322          2
41  TCE-AEP  1.371927e+09         200.0  60344322          2
42  TCE-AEP  9.854890e+08         100.0  60344322          2
43  TCE-AEP  6.924827e+08          50.0  60344322          2
44  TCE-AEP  4.760212e+08          25.0  60344322          2
45  TCE-AEP  2.784035e+08          10.0  60344322          2
46  TCE-AEP  1.762428e+08           5.0  60344322          2
47  TCE-AEP  8.589502e+07           2.0  60344322          2

In [50]:
stats=pq.read_table(r"Y:\PROJECT\Renu\ILC_2024\Testing_EUWS\For_Rishin\ILC2024_EUWS_PLA_WI_EP_BE_EUR_Losses\STATS\Admin1\GU\ILC2024_EUWS_PLA_WI_EP_BE_EUR_STATS_Admin1_GU_0.parquet").to_pandas()
stats2=pq.read_table(r"D:\RISHIN\TESTING\TEST_3\ILC2024_EUWS_PLA_WI_EP_BE_EUR_Losses\STATS\Admin1\GU\ILC2024_EUWS_PLA_WI_EP_BE_EUR_STATS_Admin1_GU_0.parquet").to_pandas()

In [51]:
stats

             AAL           Std        CV  Admin1Id       Admin1Name
0   1.922654e+07  6.269598e+07  3.260908   7153300            Liege
1   4.447512e+07  1.343355e+08  3.020464   7153308        Antwerpen
2   8.781251e+06  2.991086e+07  3.406218   7153303            Namur
3   2.289216e+07  7.318905e+07  3.197123   7153299          Hainaut
4   3.920738e+07  1.055143e+08  2.691185   7153305  West-Vlaanderen
5   5.714658e+06  1.950875e+07  3.413809   7153302       Luxembourg
6   2.868487e+07  9.010927e+07  3.141352  22525998   Vlaams Brabant
7   1.875891e+07  5.997647e+07  3.197226   7153301          Limburg
8   3.918484e+07  1.134661e+08  2.895662   7153304  Oost-Vlaanderen
9   9.984266e+06  3.209592e+07  3.214650  22525997   Brabant Wallon
10  1.591928e+07  4.945132e+07  3.106379  60466782         Brussels

In [24]:
df22=pq.read_table(r"D:\RISHIN\TESTING\TEST_3\ILC2024_EUWS_PLA_WI_EP_BE_EUR_Losses\EP\Admin1_Lob\GU\ILC2024_EUWS_PLA_WI_EP_BE_EUR_EP_Admin1_Lob_GU_1.parquet").to_pandas()

In [25]:
df22

     EPType          Loss  ReturnPeriod  Admin1Id Admin1Name LOBId LOBName
0       OEP  2.281312e+08       10000.0   7153308  Antwerpen     1     AGR
1       OEP  1.793607e+08        5000.0   7153308  Antwerpen     1     AGR
2       OEP  8.545773e+07        1000.0   7153308  Antwerpen     1     AGR
3       OEP  5.977752e+07         500.0   7153308  Antwerpen     1     AGR
4       OEP  4.194262e+07         250.0   7153308  Antwerpen     1     AGR
5       OEP  3.636134e+07         200.0   7153308  Antwerpen     1     AGR
6       OEP  2.322848e+07         100.0   7153308  Antwerpen     1     AGR
7       OEP  1.439944e+07          50.0   7153308  Antwerpen     1     AGR
8       OEP  8.831245e+06          25.0   7153308  Antwerpen     1     AGR
9       OEP  4.422325e+06          10.0   7153308  Antwerpen     1     AGR
10      OEP  2.158753e+06           5.0   7153308  Antwerpen     1     AGR
11      OEP  4.330140e+05           2.0   7153308  Antwerpen     1     AGR
12      AEP  2.319741e+08       10000.0   7153308  Antwerpen     1     AGR
13      AEP  1.843994e+08        5000.0   7153308  Antwerpen     1     AGR
14      AEP  9.183558e+07        1000.0   7153308  Antwerpen     1     AGR
15      AEP  6.557318e+07         500.0   7153308  Antwerpen     1     AGR
16      AEP  4.654582e+07         250.0   7153308  Antwerpen     1     AGR
17      AEP  4.072136e+07         200.0   7153308  Antwerpen     1     AGR
18      AEP  2.779975e+07         100.0   7153308  Antwerpen     1     AGR
19      AEP  1.825096e+07          50.0   7153308  Antwerpen     1     AGR
20      AEP  1.175651e+07          25.0   7153308  Antwerpen     1     AGR
21      AEP  6.005564e+06          10.0   7153308  Antwerpen     1     AGR
22      AEP  3.011136e+06           5.0   7153308  Antwerpen     1     AGR
23      AEP  6.125302e+05           2.0   7153308  Antwerpen     1     AGR
24  TCE-OEP  3.079103e+08       10000.0   7153308  Antwerpen     1     AGR
25  TCE-OEP  2.553080e+08        5000.0   7153308  Antwerpen     1     AGR
26  TCE-OEP  1.421580e+08        1000.0   7153308  Antwerpen     1     AGR
27  TCE-OEP  1.065343e+08         500.0   7153308  Antwerpen     1     AGR
28  TCE-OEP  7.826460e+07         250.0   7153308  Antwerpen     1     AGR
29  TCE-OEP  7.039044e+07         200.0   7153308  Antwerpen     1     AGR
30  TCE-OEP  4.954607e+07         100.0   7153308  Antwerpen     1     AGR
31  TCE-OEP  3.378002e+07          50.0   7153308  Antwerpen     1     AGR
32  TCE-OEP  2.242032e+07          25.0   7153308  Antwerpen     1     AGR
33  TCE-OEP  1.264427e+07          10.0   7153308  Antwerpen     1     AGR
34  TCE-OEP  7.876843e+06           5.0   7153308  Antwerpen     1     AGR
35  TCE-OEP  3.770625e+06           2.0   7153308  Antwerpen     1     AGR
36  TCE-AEP  3.111755e+08       10000.0   7153308  Antwerpen     1     AGR
37  TCE-AEP  2.592841e+08        5000.0   7153308  Antwerpen     1     AGR
38  TCE-AEP  1.470349e+08        1000.0   7153308  Antwerpen     1     AGR
39  TCE-AEP  1.117790e+08         500.0   7153308  Antwerpen     1     AGR
40  TCE-AEP  8.325205e+07         250.0   7153308  Antwerpen     1     AGR
41  TCE-AEP  7.532263e+07         200.0   7153308  Antwerpen     1     AGR
42  TCE-AEP  5.428007e+07         100.0   7153308  Antwerpen     1     AGR
43  TCE-AEP  3.826067e+07          50.0   7153308  Antwerpen     1     AGR
44  TCE-AEP  2.635910e+07          25.0   7153308  Antwerpen     1     AGR
45  TCE-AEP  1.551053e+07          10.0   7153308  Antwerpen     1     AGR
46  TCE-AEP  9.882204e+06           5.0   7153308  Antwerpen     1     AGR
47  TCE-AEP  4.833361e+06           2.0   7153308  Antwerpen     1     AGR

In [18]:
# Define the specific PeriodId and EventId to check
specific_period_id = 35963
specific_event_id = 53866478

# Filter the DataFrame for the specific PeriodId and EventId
filtered_df = df22[(df22['PeriodId'] == specific_period_id) & (df22['EventId'] == specific_event_id)]

# Display the filtered DataFrame
print(filtered_df)

       PeriodId   EventId                 EventDate                  LossDate  \
846557    35963  53866478 2020-11-14 00:00:00+00:00 2020-11-14 00:00:00+00:00

                Loss Region Peril    Weight
846557  1.659235e+06     EU    WS  0.000004

In [19]:
filtered_df

,PeriodId,EventId,EventDate,LossDate,Loss,Region,Peril,Weight
846557,35963,53866478,2020-11-14 00:00:00+00:00,2020-11-14 00:00:00+00:00,1.659235e+06,EU,WS,0.000004

In [17]:
filtered_df

,PeriodId,EventId,EventDate,LossDate,Loss,Region,Peril,Weight
0,207557,53895970,2020-05-30 00:00:00+00:00,2020-05-30 00:00:00+00:00,3.453762e+10,EU,WS,0.000004

In [296]:
import os
import pandas as pd
import pyarrow.parquet as pq

def read_and_process_parquet_files(directory):
    # List all Parquet files in the directory
    parquet_files = [os.path.join(directory, f) for f in os.listdir(directory) if f.endswith('.parquet')]

    # Read and concatenate all Parquet files into a single DataFrame
    df_list = [pd.read_parquet(file) for file in parquet_files]
    combined_df = pd.concat(df_list, ignore_index=True)

    # Remove duplicate rows
    #combined_df.drop_duplicates(inplace=True)

    return combined_df

# Example usage
dir6 = r"D:\RISHIN\TESTING\TEST_9\ILC2024_NZFL_EP_PLA_NZD_Losses\STATS\Admin1_Lob\GU"
dir7 = r"W:\STATS\Admin1_Lob\GU"

df1 = read_and_process_parquet_files(dir6)
df2 = read_and_process_parquet_files(dir7)

In [297]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80 entries, 0 to 79
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   AAL         80 non-null     float64
 1   Std         0 non-null      float64
 2   CV          0 non-null      float64
 3   Admin1Id    80 non-null     object
 4   Admin1Name  80 non-null     object
 5   LobName     80 non-null     object
 6   LobId       80 non-null     object
dtypes: float64(3), object(4)
memory usage: 4.5+ KB

In [298]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80 entries, 0 to 79
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   AAL         80 non-null     float64
 1   Std         80 non-null     float64
 2   CV          80 non-null     float64
 3   Admin1Id    80 non-null     object
 4   Admin1Name  80 non-null     object
 5   LOBName     80 non-null     object
 6   LOBId       80 non-null     object
dtypes: float64(3), object(4)
memory usage: 4.5+ KB

In [303]:
df1.sort_values('AAL')

             AAL  Std  CV  Admin1Id         Admin1Name LobName LobId
79  7.059034e+02  NaN NaN  15021758             Nelson     AGR  3929
78  8.186654e+03  NaN NaN  15021757             Tasman     MFD  1446
77  5.638764e+04  NaN NaN  15021758             Nelson     IND  3277
76  6.088079e+04  NaN NaN  15021759        Marlborough     IND  3277
75  6.692997e+04  NaN NaN  15021759        Marlborough     MFD  1446
..           ...  ...  ..       ...                ...     ...   ...
4   4.858462e+06  NaN NaN  15021751         Canterbury     SFD     1
3   4.976709e+06  NaN NaN  15021764  Manawatu-Wanganui     SFD     1
2   5.022440e+06  NaN NaN  15021752         West Coast     SFD     1
1   6.610138e+06  NaN NaN  15021755          Northland     SFD     1
0   8.732720e+06  NaN NaN  15021765            Waikato     SFD     1

[80 rows x 7 columns]

In [304]:
df2.sort_values('AAL')

,AAL,Std,CV,Admin1Id,Admin1Name,LOBName,LOBId
38,7.059034e+02,1.036023e+04,14.676553,15021758,Nelson,AGR,3929
65,8.186654e+03,8.701658e+04,10.629079,15021757,Tasman,MFD,1446
35,5.638764e+04,6.274783e+05,11.127940,15021758,Nelson,IND,3277
14,6.088079e+04,6.728885e+05,11.052559,15021759,Marlborough,IND,3277
34,6.692997e+04,9.419715e+05,14.073986,15021759,Marlborough,MFD,1446
...,...,...,...,...,...,...,...
18,4.858462e+06,4.062334e+07,8.361358,15021751,Canterbury,SFD,1
21,4.976709e+06,3.140878e+07,6.311154,15021764,Manawatu-Wanganui,SFD,1
41,5.022440e+06,2.786848e+07,5.548794,15021752,West Coast,SFD,1
11,6.610138e+06,2.870191e+07,4.342105,15021755,Northland,SFD,1
76,8.732720e+06,4.956014e+07,5.675224,15021765,Waikato,SFD,1

In [288]:
df2.sort_values('Loss')

     EPType          Loss  ReturnPeriod
11      OEP  2.149982e+07           2.0
23      AEP  3.510017e+07           2.0
10      OEP  9.673907e+07           5.0
22      AEP  1.336755e+08           5.0
35  TCE-OEP  1.837382e+08           2.0
..      ...           ...           ...
12      AEP  7.511636e+09       10000.0
25  TCE-OEP  8.003515e+09        5000.0
37  TCE-AEP  8.260652e+09        5000.0
24  TCE-OEP  9.741996e+09       10000.0
36  TCE-AEP  9.847785e+09       10000.0

[48 rows x 3 columns]

In [260]:
# Define the columns to sort by
sort_columns = ['ReturnPeriod', 'Admin1Id', 'Admin1Name', 'LOBName', 'LOBId','EPType']

# Sort both DataFrames by the specified columns
df1_sorted = df1.sort_values(by=sort_columns).reset_index(drop=True)
df2_sorted = df2.sort_values(by=sort_columns).reset_index(drop=True)

# Concatenate the DataFrames horizontally
df_combined = pd.concat([df1_sorted, df2_sorted], axis=1, keys=['df1', 'df2'])

# Add the LossDifference column
df_combined['LossDifference'] = df_combined['df1']['Loss'] - df_combined['df2']['Loss']

# Display the combined DataFrame
df_combined

          df1                                                                \
       EPType          Loss ReturnPeriod  Admin1Id Admin1Name LOBName LOBId
0         AEP  1.521287e+03          2.0  15021750  Southland     AGR  3929
1         OEP  1.489964e+03          2.0  15021750  Southland     AGR  3929
2     TCE-AEP  1.541130e+06          2.0  15021750  Southland     AGR  3929
3     TCE-OEP  1.431267e+06          2.0  15021750  Southland     AGR  3929
4         AEP  1.247407e-04          2.0  15021750  Southland     COM  2211
...       ...           ...          ...       ...        ...     ...   ...
3835  TCE-OEP  2.318758e+08      10000.0  15021765    Waikato     MFD  1446
3836      AEP  1.387097e+09      10000.0  15021765    Waikato     SFD     1
3837      OEP  1.359341e+09      10000.0  15021765    Waikato     SFD     1
3838  TCE-AEP  1.947769e+09      10000.0  15021765    Waikato     SFD     1
3839  TCE-OEP  1.878975e+09      10000.0  15021765    Waikato     SFD     1

          df2                                                                \
       EPType          Loss ReturnPeriod  Admin1Id Admin1Name LOBName LOBId
0         AEP  1.521287e+03          2.0  15021750  Southland     AGR  3929
1         OEP  1.489964e+03          2.0  15021750  Southland     AGR  3929
2     TCE-AEP  1.541130e+06          2.0  15021750  Southland     AGR  3929
3     TCE-OEP  1.431267e+06          2.0  15021750  Southland     AGR  3929
4         AEP  0.000000e+00          2.0  15021750  Southland     COM  2211
...       ...           ...          ...       ...        ...     ...   ...
3835  TCE-OEP  2.318758e+08      10000.0  15021765    Waikato     MFD  1446
3836      AEP  1.387097e+09      10000.0  15021765    Waikato     SFD     1
3837      OEP  1.359341e+09      10000.0  15021765    Waikato     SFD     1
3838  TCE-AEP  1.947769e+09      10000.0  15021765    Waikato     SFD     1
3839  TCE-OEP  1.878975e+09      10000.0  15021765    Waikato     SFD     1

     LossDifference

0     -3.330088e-07
1     -9.115865e-08
2     -1.293141e-06
3     -1.195353e-06
4      1.247407e-04
...             ...
3835  -2.980232e-08
3836  -4.768372e-07
3837  -9.536743e-07
3838  -4.768372e-07
3839  -4.768372e-07

[3840 rows x 15 columns]

In [261]:
df_combined

          df1                                                                \
       EPType          Loss ReturnPeriod  Admin1Id Admin1Name LOBName LOBId
0         AEP  1.521287e+03          2.0  15021750  Southland     AGR  3929
1         OEP  1.489964e+03          2.0  15021750  Southland     AGR  3929
2     TCE-AEP  1.541130e+06          2.0  15021750  Southland     AGR  3929
3     TCE-OEP  1.431267e+06          2.0  15021750  Southland     AGR  3929
4         AEP  1.247407e-04          2.0  15021750  Southland     COM  2211
...       ...           ...          ...       ...        ...     ...   ...
3835  TCE-OEP  2.318758e+08      10000.0  15021765    Waikato     MFD  1446
3836      AEP  1.387097e+09      10000.0  15021765    Waikato     SFD     1
3837      OEP  1.359341e+09      10000.0  15021765    Waikato     SFD     1
3838  TCE-AEP  1.947769e+09      10000.0  15021765    Waikato     SFD     1
3839  TCE-OEP  1.878975e+09      10000.0  15021765    Waikato     SFD     1

          df2                                                                \
       EPType          Loss ReturnPeriod  Admin1Id Admin1Name LOBName LOBId
0         AEP  1.521287e+03          2.0  15021750  Southland     AGR  3929
1         OEP  1.489964e+03          2.0  15021750  Southland     AGR  3929
2     TCE-AEP  1.541130e+06          2.0  15021750  Southland     AGR  3929
3     TCE-OEP  1.431267e+06          2.0  15021750  Southland     AGR  3929
4         AEP  0.000000e+00          2.0  15021750  Southland     COM  2211
...       ...           ...          ...       ...        ...     ...   ...
3835  TCE-OEP  2.318758e+08      10000.0  15021765    Waikato     MFD  1446
3836      AEP  1.387097e+09      10000.0  15021765    Waikato     SFD     1
3837      OEP  1.359341e+09      10000.0  15021765    Waikato     SFD     1
3838  TCE-AEP  1.947769e+09      10000.0  15021765    Waikato     SFD     1
3839  TCE-OEP  1.878975e+09      10000.0  15021765    Waikato     SFD     1

     LossDifference

0     -3.330088e-07
1     -9.115865e-08
2     -1.293141e-06
3     -1.195353e-06
4      1.247407e-04
...             ...
3835  -2.980232e-08
3836  -4.768372e-07
3837  -9.536743e-07
3838  -4.768372e-07
3839  -4.768372e-07

[3840 rows x 15 columns]

In [249]:
df2.sort_values('Loss')

,EPType,Loss,ReturnPeriod,Admin1Id,Admin1Name,LOBName,LOBId
3815,AEP,0.000000e+00,2.0,15021750,Southland,COM,2211
11,OEP,0.000000e+00,2.0,15021763,Taranaki,IND,3277
23,AEP,0.000000e+00,2.0,15021763,Taranaki,IND,3277
1499,OEP,0.000000e+00,2.0,15021760,Hawke's Bay,SFD,1
2567,AEP,0.000000e+00,2.0,15021755,Northland,COM,2211
...,...,...,...,...,...,...,...
2904,TCE-OEP,1.797210e+09,10000.0,15021762,Wellington,COM,2211
2916,TCE-AEP,1.797785e+09,10000.0,15021762,Wellington,COM,2211
3204,TCE-AEP,1.797992e+09,10000.0,15021764,Manawatu-Wanganui,SFD,1
1704,TCE-OEP,1.878975e+09,10000.0,15021765,Waikato,SFD,1
1716,TCE-AEP,1.947769e+09,10000.0,15021765,Waikato,SFD,1

In [236]:
df1

      EPType          Loss  ReturnPeriod  Admin1Id Admin1Name
0        OEP  3.170639e+09       10000.0  15021756   Auckland
1        OEP  2.319969e+09        5000.0  15021756   Auckland
2        OEP  1.015804e+09        1000.0  15021756   Auckland
3        OEP  6.783626e+08         500.0  15021756   Auckland
4        OEP  4.114239e+08         250.0  15021756   Auckland
..       ...           ...           ...       ...        ...
763  TCE-AEP  2.686626e+08          50.0  15021750  Southland
764  TCE-AEP  1.524241e+08          25.0  15021750  Southland
765  TCE-AEP  6.789798e+07          10.0  15021750  Southland
766  TCE-AEP  3.593806e+07           5.0  15021750  Southland
767  TCE-AEP  1.485990e+07           2.0  15021750  Southland

[768 rows x 5 columns]

In [201]:
df2

       EPType          Loss  ReturnPeriod  Admin1Id Admin1Name LOBName LOBId
0         OEP  9.615753e+07       10000.0  15021763   Taranaki     IND  3277
1         OEP  8.078773e+07        5000.0  15021763   Taranaki     IND  3277
2         OEP  5.086638e+07        1000.0  15021763   Taranaki     IND  3277
3         OEP  3.878172e+07         500.0  15021763   Taranaki     IND  3277
4         OEP  2.503500e+07         250.0  15021763   Taranaki     IND  3277
...       ...           ...           ...       ...        ...     ...   ...
3835  TCE-AEP  8.081951e+07          50.0  15021750  Southland     COM  2211
3836  TCE-AEP  4.508790e+07          25.0  15021750  Southland     COM  2211
3837  TCE-AEP  1.997572e+07          10.0  15021750  Southland     COM  2211
3838  TCE-AEP  1.037372e+07           5.0  15021750  Southland     COM  2211
3839  TCE-AEP  4.165310e+06           2.0  15021750  Southland     COM  2211

[3840 rows x 7 columns]

In [130]:
filtered_df1 = df1[(df1['CrestaId'] == 60344977) & (df1['CrestaName'] == "2")]

In [216]:
df6=pq.read_table(r"D:\RISHIN\TESTING\TEST_9\ILC2024_NZFL_EP_PLA_NZD_Losses\EP\Admin1_Lob\GU\ILC2024_NZFL_EP_PLA_EP_Admin1_Lob_GU_1_4.parquet").to_pandas()

In [217]:
df6

     EPType          Loss  ReturnPeriod  Admin1Id Admin1Name LOBName LOBId
0       OEP  1.716047e+08       10000.0  15021765    Waikato     MFD  1446
1       OEP  1.420823e+08        5000.0  15021765    Waikato     MFD  1446
2       OEP  8.062367e+07        1000.0  15021765    Waikato     MFD  1446
3       OEP  5.789062e+07         500.0  15021765    Waikato     MFD  1446
4       OEP  3.516173e+07         250.0  15021765    Waikato     MFD  1446
..      ...           ...           ...       ...        ...     ...   ...
43  TCE-AEP  2.522914e+07          50.0  15021765    Waikato     MFD  1446
44  TCE-AEP  1.411869e+07          25.0  15021765    Waikato     MFD  1446
45  TCE-AEP  6.181503e+06          10.0  15021765    Waikato     MFD  1446
46  TCE-AEP  3.165777e+06           5.0  15021765    Waikato     MFD  1446
47  TCE-AEP  2.092007e+06           2.0  15021765    Waikato     MFD  1446

[48 rows x 7 columns]

In [134]:
filtered_df2 = df2[(df2['CrestaId'] == 60344977) & (df2['CrestaName'] == "2")]

In [140]:
filtered_df2.head(13)

    EPType          Loss  ReturnPeriod  CrestaId CrestaName
480    OEP  2.990356e+09       10000.0  60344977          2
481    OEP  2.227330e+09        5000.0  60344977          2
482    OEP  9.753926e+08        1000.0  60344977          2
483    OEP  6.528357e+08         500.0  60344977          2
484    OEP  3.938376e+08         250.0  60344977          2
485    OEP  3.208008e+08         200.0  60344977          2
486    OEP  1.604680e+08         100.0  60344977          2
487    OEP  7.275521e+07          50.0  60344977          2
488    OEP  2.946196e+07          25.0  60344977          2
489    OEP  6.540777e+06          10.0  60344977          2
490    OEP  1.165805e+06           5.0  60344977          2
491    OEP  0.000000e+00           2.0  60344977          2
492    AEP  3.000024e+09       10000.0  60344977          2

In [111]:
pd.set_option('display.max_rows', 15)

# Print the DataFrame

In [169]:
import os
import pandas as pd
import pyarrow.parquet as pq

def read_and_process_parquet_files(directory):
    # List all Parquet files in the directory
    parquet_files = [os.path.join(directory, f) for f in os.listdir(directory) if f.endswith('.parquet')]

    # Read and concatenate all Parquet files into a single DataFrame
    df_list = [pd.read_parquet(file) for file in parquet_files]
    combined_df = pd.concat(df_list, ignore_index=True)

    # Remove duplicate rows
    combined_df.drop_duplicates(inplace=True)

    return combined_df

# Example usage
dir1 = r"D:\RISHIN\TESTING\TEST_9\ILC2024_EUWS_EP_PLA_EUR_Losses\EP\Cresta_Lob\GR"
dir2 = r"Y:\PROJECT\Renu\ILC_2024\Testing_EUWS\Results\ILC\BE\ILC2024_EUWS_PLA_WI_EP_BE_EUR_Losses\EP\Cresta_Lob\GR"

df3 = read_and_process_parquet_files(dir1)
df4 = read_and_process_parquet_files(dir2)

In [170]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2160 entries, 0 to 2159
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   EPType        2160 non-null   object
 1   Loss          2160 non-null   float64
 2   ReturnPeriod  2160 non-null   float64
 3   CrestaId      2160 non-null   int64
 4   CrestaName    2160 non-null   object
 5   LOBName       2160 non-null   object
 6   LOBId         2160 non-null   object
dtypes: float64(2), int64(1), object(4)
memory usage: 118.3+ KB

In [171]:
df3.sort_values('Loss')

       EPType          Loss  ReturnPeriod  CrestaId CrestaName LOBName LOBId
779       OEP  2.696204e+03           2.0  60344325          5    AUTO     2
791       AEP  3.039048e+03           2.0  60344325          5    AUTO     2
827       OEP  8.151783e+03           2.0  60344326          6    AUTO     2
839       AEP  9.381177e+03           2.0  60344326          6    AUTO     2
731       OEP  1.001268e+04           2.0  60344327          7    AUTO     2
...       ...           ...           ...       ...        ...     ...   ...
1765  TCE-AEP  3.059032e+09        5000.0  60344321          1    SPER     5
1800  TCE-OEP  3.309655e+09       10000.0  60344322          2    SPER     5
1812  TCE-AEP  3.328867e+09       10000.0  60344322          2    SPER     5
1752  TCE-OEP  3.673801e+09       10000.0  60344321          1    SPER     5
1764  TCE-AEP  3.727456e+09       10000.0  60344321          1    SPER     5

[2160 rows x 7 columns]

In [172]:
df4.sort_values('Loss')

       EPType          Loss  ReturnPeriod  CrestaId CrestaName LOBName LOBId
1355      OEP  2.696204e+03           2.0  60344325          5    AUTO     2
1367      AEP  3.039048e+03           2.0  60344325          5    AUTO     2
251       OEP  8.151783e+03           2.0  60344326          6    AUTO     2
263       AEP  9.381177e+03           2.0  60344326          6    AUTO     2
491       OEP  1.001268e+04           2.0  60344327          7    AUTO     2
...       ...           ...           ...       ...        ...     ...   ...
853   TCE-AEP  3.059032e+09        5000.0  60344321          1    SPER     5
1944  TCE-OEP  3.309655e+09       10000.0  60344322          2    SPER     5
1956  TCE-AEP  3.328867e+09       10000.0  60344322          2    SPER     5
840   TCE-OEP  3.673801e+09       10000.0  60344321          1    SPER     5
852   TCE-AEP  3.727456e+09       10000.0  60344321          1    SPER     5

[2160 rows x 7 columns]

In [165]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2640 entries, 0 to 2639
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   EPType        2640 non-null   object
 1   Loss          2640 non-null   float64
 2   ReturnPeriod  2640 non-null   float64
 3   Admin1Id      2640 non-null   object
 4   Admin1Name    2640 non-null   object
 5   LOBName       2640 non-null   object
 6   LOBId         2640 non-null   object
dtypes: float64(2), object(5)
memory usage: 144.5+ KB

In [157]:
filtered_df2 = df3[(df3['Admin1Name'] == "West-Vlaanderen") & (df3['Admin1Id'] == 7153305)  & (df3['LOBName'] == "AGR")]

In [158]:
filtered_df4 = df4[(df4['Admin1Name'] == "West-Vlaanderen") & (df4['Admin1Id'] == 7153305)& (df4['LOBName'] == "AGR")]

In [159]:
filtered_df2.head(13)

   EPType          Loss  ReturnPeriod  Admin1Id       Admin1Name LOBName LOBId
0     OEP  3.478636e+08       10000.0   7153305  West-Vlaanderen     AGR     1
1     OEP  2.557044e+08        5000.0   7153305  West-Vlaanderen     AGR     1
2     OEP  1.398528e+08        1000.0   7153305  West-Vlaanderen     AGR     1
3     OEP  9.934138e+07         500.0   7153305  West-Vlaanderen     AGR     1
4     OEP  6.848914e+07         250.0   7153305  West-Vlaanderen     AGR     1
5     OEP  6.062771e+07         200.0   7153305  West-Vlaanderen     AGR     1
6     OEP  3.915128e+07         100.0   7153305  West-Vlaanderen     AGR     1
7     OEP  2.449995e+07          50.0   7153305  West-Vlaanderen     AGR     1
8     OEP  1.458993e+07          25.0   7153305  West-Vlaanderen     AGR     1
9     OEP  7.220784e+06          10.0   7153305  West-Vlaanderen     AGR     1
10    OEP  3.851674e+06           5.0   7153305  West-Vlaanderen     AGR     1
11    OEP  9.683293e+05           2.0   7153305  West-Vlaanderen     AGR     1
12    AEP  3.532019e+08       10000.0   7153305  West-Vlaanderen     AGR     1

In [160]:
filtered_df4.head(13)

,EPType,Loss,ReturnPeriod,Admin1Id,Admin1Name,LOBName,LOBId
1872,OEP,3.478636e+08,10000.0,7153305,West-Vlaanderen,AGR,1
1873,OEP,2.557044e+08,5000.0,7153305,West-Vlaanderen,AGR,1
1874,OEP,1.398528e+08,1000.0,7153305,West-Vlaanderen,AGR,1
1875,OEP,9.934138e+07,500.0,7153305,West-Vlaanderen,AGR,1
1876,OEP,6.848914e+07,250.0,7153305,West-Vlaanderen,AGR,1
1877,OEP,6.062771e+07,200.0,7153305,West-Vlaanderen,AGR,1
1878,OEP,3.915128e+07,100.0,7153305,West-Vlaanderen,AGR,1
1879,OEP,2.449995e+07,50.0,7153305,West-Vlaanderen,AGR,1
1880,OEP,1.458993e+07,25.0,7153305,West-Vlaanderen,AGR,1
1881,OEP,7.220784e+06,10.0,7153305,West-Vlaanderen,AGR,1
1882,OEP,3.851674e+06,5.0,7153305,West-Vlaanderen,AGR,1
1883,OEP,9.683293e+05,2.0,7153305,West-Vlaanderen,AGR,1
1884,AEP,3.532019e+08,10000.0,7153305,West-Vlaanderen,AGR,1

In [221]:
import os
import pyarrow.parquet as pq

def check_files_in_directory(directory_path):
    # List all files in the directory
    files = [f for f in os.listdir(directory_path) if f.endswith('.parquet')]
    
    # Iterate through each file and check the number of rows
    for file in files:
        file_path = os.path.join(directory_path, file)
        table = pq.read_table(file_path)
        if table.num_rows != 48:
            print(f"File {file} does not have 48 rows, it has {table.num_rows} rows.")

# Directory path
directory_path = r"D:\RISHIN\TESTING\TEST_9\ILC2024_NZFL_EP_PLA_NZD_Losses\EP\Admin1_Lob\GU"

# Check files in the directory
check_files_in_directory(directory_path)

In [219]:
check_files_in_directory(directory_path)

In [116]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2640 entries, 0 to 2639
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   EPType        2640 non-null   object
 1   Loss          2640 non-null   float64
 2   ReturnPeriod  2640 non-null   float64
 3   Admin1Id      2640 non-null   int64
 4   Admin1Name    2640 non-null   object
 5   LOBName       2640 non-null   object
 6   LOBId         2640 non-null   object
dtypes: float64(2), int64(1), object(4)
memory usage: 144.5+ KB

In [117]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2640 entries, 0 to 2639
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   EPType        2640 non-null   object
 1   Loss          2640 non-null   float64
 2   ReturnPeriod  2640 non-null   float64
 3   Admin1Id      2640 non-null   object
 4   Admin1Name    2640 non-null   object
 5   LOBName       2640 non-null   object
 6   LOBId         2640 non-null   object
dtypes: float64(2), object(5)
memory usage: 144.5+ KB